OST_GITHUB_ID=your_github_oauth_app_id
OST_GITHUB_SECRET=your_github_oauth_app_secret
OST_TOKEN_SECRET=any_random_32char_string
OST_REPO_SLUG=levery-website
OST_GITHUB_URL=https://github.com/levery-srl
NEXT_PUBLIC_POSTHOG_KEY=your_posthog_key
NEXT_PUBLIC_FORMSPREE_ID=your_formspree_id
NEXT_PUBLIC_BOOKING_URL=your_teams_booking_url
